@inject StreamService StreamService

<div class="stream-container">
    <div class="stream-content @(StreamService.ChatMode == ChatDisplayMode.Attached ? "with-chat" : "")">
        <div class="stream-video">
            <iframe src="@Stream.EmbedUrl" 
                    frameborder="0"
                    class="stream-iframe"
                    allowfullscreen="false"
                    scrolling="no" 
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture"
                    loading="lazy">
            </iframe>
        </div>
        
        @if (StreamService.ChatMode == ChatDisplayMode.Attached)
        {
            <div class="stream-chat">
                <iframe src="@Stream.ChatUrl" frameborder="0" class="chat-iframe" loading="lazy">
                </iframe>
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public StreamInfo Stream { get; set; } = new();
}
